
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  width: 1000px;
  height: 450px;
}

header img {
  max-width: 136px;
}

header {
    position: fixed;
    height: 55px;
    padding: 6px 15px 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #413A2E50;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.button-primary {
  margin: 8px;
  text-decoration: none;
  font-family: "Stolzl", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 17.6px;
  letter-spacing: -0.48px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #969aff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #969aff;
  border-radius: 200px 200px 200px 200px;
  padding: 11px 24px 10px 24px;
}

.button-primary:hover {
  color: #969aff;
  background-color: #ffffff;
}

.button-secondary {
  margin: 8px;
  text-decoration: none;
  font-family: "Stolzl", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 17.6px;
  letter-spacing: -0.48px;
  fill: #ffffff;
  color: #413a2e;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #969aff;
  border-radius: 200px 200px 200px 200px;
  padding: 11px 24px 10px 24px;
}

.button-secondary:hover {
  color: #ffffff;
  background-color: #969aff;
}

.button-group{
  padding: 0 20px; 
}