.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map {
  width: 1000px;
  height: 450px;
}



.App-header-logo img {
  max-height: 150px;
  max-width: 150px; 
}

.App-header-donate {
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #969AFF; 
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.App-header-donate:hover {
  background-color: #797dfb;
}