@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  src: local("Stolzl"), url("./fonts/Stolzl-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  src: local("Stolzl"), url("./fonts/Stolzl-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue"),
    url("./fonts/helveticaneuecyr-heavy.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Stolzl", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; 
  padding-top: 100px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h4,
h5,
h6 {
  color: #969AFF;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #413a2e;
  text-transform: uppercase; 
}

h4  {
  color: #42413f;
  text-transform: none; 
  text-decoration: underline; 
  font-size: small;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #413A2E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
